{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="{% static 'js/main.js' %}"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.19.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    {% block additional_scripts %}{% endblock additional_scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
  </head>
  <body>
    {% block body %} {% endblock body %}
  </body>
</html>
